@import "assets/fontawesome/scss/fontawesome.scss";
@import "assets/fontawesome/scss/solid.scss";
@import "assets/fontawesome/scss/brands.scss";
body {
  margin: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
