@import "../utils/variables";
@import "../utils/mixins";
body {
  margin: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", cursive;
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

main {
  position: relative;
}

img {
  max-width: 100%;
}
@include pour_ordinateur {
  .conteneur-principale {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
