@import "../utils/mixins";

footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 10px;
}
footer h2 {
  @include police-titre;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
}
footer i.far {
  padding-right: 12px;
}

footer ul {
  list-style-type: none;
  padding-left: 20px;
}
footer li {
  margin-bottom: 8px;
}
footer li a {
  text-decoration: none;
  color: white;
}

@include pour_ordinateur {
  footer {
    text-align: center;
    ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-right: 60px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}
