@import "../utils/variables";
@import "../utils/mixins";

/* section recherche */
#recherche {
  width: 100%;
  background-color: map-get($map: $gray, $key: base);
  height: 50px;
  text-align: center;
}
#recherche input {
  width: 109px;
  font-size: 14px;
  margin-top: 14px;
  padding-left: 9px;
  border: 0;
  font-weight: bold;
  background-color: map-get($map: $gray, $key: base);
}

/*section reservation*/
#reservation {
  height: 270px;
  padding: 10px;
  text-align: center;
  background-color: map-get($map: $gray, $key: light);
}
#reservation h1 {
  font-size: 32px;
  text-align: center;
}
#reservation p {
  font-size: 18px;
  padding-left: 12px;
}
#reservation input {
  height: 52px;
  width: 64%;
  @include pour_ordinateur {
    width: 36%;
  }
}

/*section fonctionnement*/
.bloc-fonction {
  padding-top: 15px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 30px;
    @include pour_tablette {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    @include pour_tablette {
      display: flex;
      justify-content: space-between;
    }

    .bloc-fonction__item-Fonction {
      border: 1px solid transparent;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 15px;
      background-color: #e9e9e9;
      margin-bottom: 18px;
      @include mes-ombres;
      @include pour_tablette {
        width: 30%;
      }

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }

  span.numero {
    margin-top: 2px;
    height: 23px;
    line-height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: $color-primaire;
    text-align: center;
    left: -10px;
    position: relative;
    font-weight: bold;
    color: white;
    font-size: 12px;
  }

  span.icone {
    margin-left: 4px;
    margin-right: 14px;
    color: map-get($map: $gray, $key: dark);
    width: 30px;
    text-align: center;

    &:hover {
      color: $color-primaire;
      cursor: pointer;
    }
  }
}

/*section restaurants*/
.bloc-restaurants {
  background-color: map-get($map: $gray, $key: light);
  padding: 20px;
  padding-bottom: 75px;
  .conteneur-principale {
    @include pour_tablette {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
      padding-left: 5px;
      @include pour_tablette {
        width: 100%;
        text-align: center;
      }
    }
    .element-restaurants {
      background-color: white;
      border-radius: 15px;
      margin-bottom: 22px;
      @include mes-ombres;
      @include pour_tablette {
        width: 45%;
      }
      @include pour_ordinateur {
        width: 23%;
      }
      a {
        text-decoration: none;
        &:visited {
          color: inherit;
        }
      }
      .texte-restaurants {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;

        p {
          font-size: 20px;
          margin-top: 5px;
        }

        .likeHeart {
          font-size: 22px;
          margin-top: 12px;
          padding-right: 14px;
        }

        .texte-restaurants__titre {
          text-decoration: none;
          color: black;
          font-weight: bold;
          font-size: 20px;
        }
      }

      figure {
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        width: 100%;
        height: 184px;
        margin: 0;
        overflow: hidden;
        position: relative;
      }
      figcaption {
        width: 30%;
        height: 30px;
        background: $color-tertiaire;
        color: #1d5c50e0;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 15px;
        margin-top: 13px;
        line-height: 30px;
        font-weight: bold;
        border-radius: 2px;
      }
    }
  }
}
